@import "tailwindcss";

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
.glow-green {
  box-shadow: 0 0 10px 4px rgba(34, 197, 94, 0.7);
}

.glow-red {
  box-shadow: 0 0 10px 4px rgba(239, 68, 68, 0.7);
}

